.scroll-component {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    min-height: 100vh; /* ensures it takes at least full viewport height */
  }
  
  .scroll-component.visible {
    opacity: 1;
  }
  